<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>
<header th:replace="plantillas/plantilla.html :: header">
</header>

<main>
    <article class="container article">

        <div class="select" data-aos="fade-right" data-aos-duration="900">
            <select id="sel" name="select">
                <option value="juez">Juez</option>
                <option value="evento">Evento</option>
                <option value="disciplina">Disciplina</option>
            </select>
        </div>

        <!-- Contenedores form -->
        <div class="divider card-divider"></div>
        <section class="form">

            <div class="form-container " data-aos="zoom-out" data-aos-duration="900">
                <div class="form-wrapper">

                    <!-- INICIA FORM  -->
                    <div class="cont">
                        <div class="title">Registrar Juez</div>
                        <div class="content">
                            <form method="post" th:action="@{/admins/creaJuez}">
                                <div class="user-details">
                                    <div class="input-box" >
                                        <span class="details">Nombre</span>
                                        <input type="text" id="nombreJuez" name="nombreJuez" placeholder="Introduce el nombre" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Apellido paterno</span>
                                        <input type="text" id="apellidoPJuez" name="apellidoPJuez" placeholder="Introduce el apellido paterno" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Apellido materno</span>
                                        <input type="text" id="apelidoMJuez" name="apellidoMJuez" placeholder="Introduce el apellido materno" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Correo</span>
                                        <input type="text" id="emailJuez" name="emailJuez" placeholder="Introduce el correo electrónico" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Contraseña</span>
                                        <input type="password" id="contraseña" name="passwordJuez" placeholder="Introduce la contraseña" required>
                                    </div>
                                    <div>
                                        <span class="details">Disciplina</span>
                                        <div class="select" data-aos="fade-right" data-aos-duration="900">
                                            <select id="nombreDisciplinaJuez" name="nombreDisciplinaJuez">
                                                <option th:each="dis : ${disciplinas}" th:value="${dis.getNombre()}" th:text="${dis.getNombre()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Confirma</span>
                                        <input id="confirma-contraseña" type="password" placeholder="Confirma la contraseña" required>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--FROM Disciplina-->
                    <div class="cont" style="display:none;">
                        <div class="title">Registrar Evento</div>
                        <div class="content">
                            <form method="post" th:action="@{/admins/creaEvento}" onsubmit='return valida(this)'>
                                <div class="user-details">
                                    <div class="input-box" >
                                        <span class="details">Nombre Evento</span>
                                        <input type="text" id="nombreEvento" name="nombreEvento" placeholder="Introduce el nombre del evento" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Categoria</span>
                                        <input type="text" id="categoria" name="categoria" placeholder="Introduce la categoria" required>
                                    </div>
                                    <div>
                                        <span class="details">Disciplina</span>
                                        <div class="select" data-aos="fade-right" data-aos-duration="900">
                                            <select id="nombreDisciplina" name="nombreDisciplina">
                                                <option th:each="dis : ${disciplinas}" th:value="${dis.getNombre()}" th:text="${dis.getNombre()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Fecha del evento</span>
                                        <input type="date" id="fecha" name="fecha" placeholder="Introduce la fecha del evento" required>
                                    </div>
                                </div>
                                <div id="tooltip" class="tooltip">
                                    <span class="tooltiptext">Selecciona un sexo</span>
                                </div>
                                <div class="gender-details">
                                    <input type="radio" name="rama" value="Varonil" id="dot-1-rama">
                                    <input type="radio" name="rama" value="Femenil" id="dot-2-rama">
                                    <input type="radio" name="rama" value="Mixto" id="dot-3-rama">
                                    <span class="gender-title">Rama</span>
                                    <div class="category">
                                        <label for="dot-1-rama">
                                            <span class="dot one"></span>
                                            <span class="gender">Varonil</span>
                                        </label>
                                        <label for="dot-2-rama">
                                            <span class="dot two"></span>
                                            <span class="gender">Femenil</span>
                                        </label>
                                        <label for="dot-3-rama">
                                            <span class="dot three"></span>
                                            <span class="gender">Mixto</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--FROM Disciplina-->
                    <div class="cont" style="display:none;">
                        <div class="title">Registrar Disciplina</div>
                        <div class="content">
                            <form method="post" th:action="@{/admins/creaEvento}">
                                <div class="user-details" >
                                    <div class="input-box" style="width:100%;">
                                        <span class="details">Nombre Disciplina</span>
                                        <input type="text" id="disciplina" name="nombreDisciplina" placeholder="Introduce el nombre del evento" required>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- TERMINA FORMS  -->

                </div>
            </div>

        </section>


    </article>
</main>
<div id="exito" th:if="${exito}" style="display:none;">
</div>
<div id="error" th:if="${error}" style="display:none;">
</div>
<footer th:replace="plantillas/plantilla.html :: footer">
</footer>
<script th:replace="plantillas/plantilla.html :: js">
</script>
<script>
    var exito = document.getElementById('exito');
    var erro = document.getElementById('error');
    if(exito!=null){
        Swal.fire({
              icon: 'success',
              title: 'Agregado correctamente',
              confirmButtonColor: 'var(--confirmar-btn)'
            })
    }
    if(erro != null){
        Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Este correo ya esta registrado',
              confirmButtonColor: 'var(--confirmar-btn)'
            })
    }
   var contra = document.getElementById("contraseña");
   var confirmaContra = document.getElementById("confirma-contraseña");
    function validaContra(){
      if(contra.value != confirmaContra.value) {
        confirmaContra.setCustomValidity("Las contraseñas no coinciden");
      } else {
        confirmaContra.setCustomValidity('');
      }
    }
    contra.onchange = validaContra;
    confirmaContra.onkeyup = validaContra;
</script>
<script>
    function valida(f) {
     const tooltip = document.querySelector('#tooltip');
      var ok = true;
      if(f[4].checked==false && f[5].checked==false && f[6].checked==false){
        ok = false;
      }

      let timer;
      if(ok == false){
        tooltip.classList.add('activo');
        timer = setTimeout(() => {
            tooltip.classList.remove('activo');
        }, 2500);

       }
      return ok;
    }
</script>
<script>
     document.getElementsByClassName("navbar-link")[1].classList.add('active');
     var select = document.querySelector('#sel')
     var cont = document.getElementsByClassName('cont');
     select.addEventListener('change',function(){
      if(select.value === "juez"){
          cont[0].style.cssText += 'animation-name:scale; animation-duration: 1.5s;'
          cont[0].style.display='grid';
          cont[1].style.display='none';
          cont[2].style.display='none'
      }
      else if(select.value === "evento"){
          cont[1].style.cssText += 'animation-name:scale; animation-duration: 1.5s;'
          cont[1].style.display='grid';
          cont[0].style.display='none';
          cont[2].style.display='none';
      }else if(select.value === "disciplina"){
          cont[2].style.cssText += 'animation-name:scale; animation-duration: 1.5s;grid-template-columns:1fr;'
          cont[2].style.display='grid';
          cont[0].style.display='none';
          cont[1].style.display='none';
      }
    });
    document.getElementsByClassName("navbar-link")[1].classList.add("active");
  </script>
</body></html>