<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>
<header th:replace="plantillas/plantilla.html :: header">
</header>

<main>
    <article class="container article">

        <div class="select" data-aos="fade-right" data-aos-duration="900">
            <select id="sel" name="select">
                <option value="juez">Juez</option>
                <option value="disciplina">Disciplina</option>
            </select>
        </div>



        <!--
          - #HOME
        -->
        <div class="divider card-divider"></div>
        <section class="form">

            <div class="form-container " data-aos="zoom-out" data-aos-duration="900">
                <div class="form-wrapper">

                    <!-- INICIA FORM  -->
                    <div class="cont">
                        <div class="title">Registrar Juez</div>
                        <div class="content">
                            <form action="#">
                                <div class="user-details">
                                    <div class="input-box" >
                                        <span class="details">Nombre</span>
                                        <input type="text" placeholder="Introduce el nombre" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Apellido paterno</span>
                                        <input type="text" placeholder="Introduce apellido paterno" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Apellido materno</span>
                                        <input type="password" placeholder="Introduce el apellido materno" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Correo</span>
                                        <input type="text" placeholder="Introduce el correo " required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Fecha de nacimiento</span>
                                        <input type="date" placeholder="introduce fecha de nacimiento" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Contraseña</span>
                                        <input type="password" placeholder="Introduce la contraseña" required>
                                    </div>
                                </div>
                                <div class="gender-details">
                                    <input type="radio" name="gender" id="dot-1">
                                    <input type="radio" name="gender" id="dot-2">
                                    <span class="gender-title">Sexo</span>
                                    <div class="category">
                                        <label for="dot-1">
                                            <span class="dot one"></span>
                                            <span class="gender">Masculino</span>
                                        </label>
                                        <label for="dot-2">
                                            <span class="dot two"></span>
                                            <span class="gender">Femenino</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--FROM Disciplina-->
                    <div class="cont" style="display:none;">
                        <div class="title">Registrar Disciplina</div>
                        <div class="content">
                            <form action="/admins/creaDisciplina" >
                                <div class="user-details">
                                    <div class="input-box" >
                                        <span class="details">Nombre Disciplina</span>
                                        <input type="text" placeholder="Introduce el nombre de la disciplina" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Categoria</span>
                                        <input type="text" placeholder="Introduce la categoria" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Nombre</span>
                                        <input type="password" placeholder="Introduce el apellido materno" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Fecha del evento</span>
                                        <input type="date" placeholder="introduce fecha de nacimiento" required>
                                    </div>
                                </div>
                                <div class="gender-details">
                                    <input type="radio" name="gender" id="dot-1-g">
                                    <input type="radio" name="gender" id="dot-2-g">
                                    <input type="radio" name="gender" id="dot-3">
                                    <span class="gender-title">Sexo</span>
                                    <div class="category">
                                        <label for="dot-1-g">
                                            <span class="dot one"></span>
                                            <span class="gender">Masculino</span>
                                        </label>
                                        <label for="dot-2-g">
                                            <span class="dot two"></span>
                                            <span class="gender">Femenino</span>
                                        </label>
                                        <label for="dot-3">
                                            <span class="dot three"></span>
                                            <span class="gender">Mixto</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--FROM Disciplina-->
                    <!-- TERMINA FORMS  -->

                </div>
            </div>

        </section>


    </article>
</main>

<footer th:replace="plantillas/plantilla.html :: footer">
</footer>
<script th:replace="plantillas/plantilla.html :: js">
</script>
<script>
     var select = document.querySelector('#sel')
     var cont = document.getElementsByClassName('cont');
     select.addEventListener('change',function(){
      if(select.value === "juez"){
          cont[0].style.cssText += 'animation-name:scale; animation-duration: 1.5s;'
          cont[0].style.display='grid';
          cont[1].style.display='none';
      }
      else if(select.value === "disciplina"){
          cont[1].style.cssText += 'animation-name:scale; animation-duration: 1.5s;'
          cont[1].style.display='grid';
          cont[0].style.display='none';
      }
    });
  </script>
</body></html>