<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>

<header th:replace="plantillas/plantilla.html :: header">
</header>
<div id="bg-img" class="full-img-bg">

</div>
<div id="img-container" class="full">
    <img class="img" id="img-max" th:src="@{${'/img/'+usuario.getImagen()}}" alt="">
</div>
<main>
    <article class="container article">

            <div data-aos="fade-right" data-aos-duration="1200" class="search_wrap search_wrap_1">
                <div class="search_box">
                    <input id="myInput" type="text" class="input" placeholder="Buscar competidor..." onkeyup="myFunction()">
                    <div class="btn btn_common">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>

        <!-- Tarjetas de eventos y usuarios -->
        <section class="eventos">
            <div class="card profile-card" data-aos="fade-right" data-aos-duration="700">
                <div class="profile-card-wrapper">
                    <div>
                        <p th:text="${evento.getNombreEvento()}" class="card-title" style="font-size: 20px;">Nombre del evento</p>
                        <p th:text="${evento.getDisciplina().getNombre()}" class="card-subtitle">Disciplina del evento</p>
                    </div>
                </div>
                <ul class="contact-list">
                    <li>
                        <a class="contact-link icon-box">
                            <p th:text="${evento.getRama()}" class="text">Rama</p>
                        </a>
                    </li>
                    <li>
                        <a class="contact-link icon-box">
                            <!-- <span class="material-symbols-rounded  icon">height</span> -->
                            <p th:text="${evento.getCategoria()}" class="text">Categoría</p>
                        </a>
                    </li>
                    <li>
                        <a class="contact-link icon-box">
                            <!-- <span class="material-symbols-rounded  icon">height</span> -->
                            <p th:text="${evento.getFecha()}" class="text">Fecha</p>
                        </a>
                    </li>
                </ul>
                <div class="divider card-divider"></div>
                <!-- EMPIEZA TABLA -->
                <table id="myTable" class="table">
                    <thead>
                    <tr class="tabla-t">
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="competidor : ${usuarioRepositorio.findCompetidoresByEvento(evento.getEvento_Id())}">
                        <td th:text= "${competidor.getNombre()+' '+competidor.getApellido_P() + ' ' + competidor.getApellido_M()}" data-title="Nombre">Fernando Flores</td>
                        <td th:text="${competidor.getEmail()}" data-title="Correo">fernandondin@ciencias.unam.mx</td>
                        <td data-title="Acción" id="td">

                            <a th:if= "${calificacionRepositorio.findByEventoAndJuezAndCompetidor(evento, usuario, competidor) != null }" th:href="@{/juez/editarCalificacion/{idCalificacion}(idCalificacion = ${calificacionRepositorio.findByEventoAndJuezAndCompetidor(evento, usuario, competidor).getCalificacion_Id()})}" class="editar-btn" active>
                                <span class="material-symbols-rounded  icon">edit</span>
                                <span>Calificación</span>
                            </a>
                            <a th:if= "${calificacionRepositorio.findByEventoAndJuezAndCompetidor(evento, usuario, competidor) == null }" th:href="@{/juez/crearCalificacion/{idCompetidor}/{idEvento}(idCompetidor = ${competidor.getUsuario_Id()}, idEvento = ${evento.getEvento_Id()})}" class="editar-btn" active>
                                <span class="material-symbols-rounded  icon">edit</span>
                                <span>Calificación</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>



    </article>
</main>

<footer th:replace="plantillas/plantilla.html :: footer">
</footer>

<script th:replace="plantillas/plantilla.html :: js">
</script>
<script>
    document.getElementsByClassName("navbar-link")[0].classList.add("active");
</script>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>