<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>
<header th:replace="plantillas/plantilla.html :: header">
</header>

<section>
    <div class="calificacionesJuez" >
        <div class="comentarios" data-aos="fade-left" data-aos-duration="700">
            <div class="titulo-comentarios">
                <div class="titulo-comentario">
                    <p class="comentarios-titulo">Calificación</p>
                    <span class="material-symbols-rounded  icon" aria-hidden="true">chat</span>
                </div>
                <div class="divider card-divider"></div>

                <form method="get" class="juez-comentario" th:action="@{/juez/editaCalificacion/{idCalificacion}(idCalificacion = ${calificacion.getCalificacion_Id()})}">
                    <div class="juez-titulo" style="justify-content: space-between;">
                        <div style="display: flex; padding: 15px; align-items: center; gap:5px;">
                            <div>
                                <figure class="card-titulo">
                                    <img th:src="@{${'/img/'+calificacion.getCompetidor().getImagen()}}" alt="" width="48" height="48">
                                </figure>
                            </div>
                            <div>
                                <p th:text="${calificacion.getCompetidor().getNombre() + ' '+ calificacion.getCompetidor().getApellido_P()}">Alan Romero</p>
                                <p class="card-subtitle" >Competidor</p>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="guardar-btn" active>
                                <span  class="material-symbols-rounded  icon" style="color:#fff;">save</span>
                            </button>
                        </div>
                    </div>
                    <div class="divider card-divider"></div>
                    <div class="juez-calificación">
                        <p>Puntaje: </p>
                        <input th:value="${calificacion.getPuntaje()}" name="puntaje" id="puntaje" type="number" min="1" max="10" placeholder="Ingresa un puntaje del 1-10" step="0.1">
                        <span class="material-symbols-rounded  icon">star</span>
                        <p th:text="${'('+calificacion.getEvento().getNombreEvento()+' - '+calificacion.getEvento().getDisciplina().getNombre()+')'}"></p>
                    </div>
                    <div class="juez-texto-jueces">
                        <label>
                            <textarea id="comentario" name="comentario" class="jueces-textarea"th:text="${calificacion.getComentario()}" contentEditable="true" placeholder="Escribe un comentario sobre esta actuación..."></textarea>
                        </label>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>
<div id="exito" th:if="${exito}">
</div>
<footer th:replace="plantillas/plantilla.html :: footer">
</footer>
<script th:replace="plantillas/plantilla.html :: js">
</script>
<script>
    var exito = document.getElementById("exito");
  if(exito!=null){
    Swal.fire({
        title: 'Calificación agregada correctamente',
        text: "calificación y comentario agregados.",
        icon: 'success',
        confirmButtonText: '¡Bien!',
        confirmButtonColor:'var(--confirmar-btn)'
      })
  }
</script>
</body>
</html>