<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>

<header th:replace="plantillas/plantilla.html :: header">
</header>

<main>
    <article class="container article">

        <h2 data-aos="zoom-out" data-aos-duration="900" class="h2 article-title" th:text="${'Hola '+usuario.getNombre()+' '+usuario.getApellido_P() + ' ' + usuario.getApellido_M()}"></h2>

        <p data-aos="fade-right" data-aos-duration="800" class="article-subtitle">¡Bienvenido al Sistema Univeritario de Olimpiadas!</p>

        <section class="home">

            <div class="card profile-card" data-aos="fade-right" data-aos-duration="700">

                <div class="profile-card-wrapper">

                    <figure class="card-avatar">
                        <img src="/img/avatar-1.png" alt="Elizabeth Foster" width="48" height="48">
                    </figure>

                    <div>
                        <p th:text="${usuario.getNombre()+' '+usuario.getApellido_P() + ' ' + usuario.getApellido_M()}" class="card-title">Fernando Gerardo Flores García</p>

                        <p th:text="${usuario.getRol()}"class="card-subtitle">Competidor</p>
                    </div>

                </div>
                <div class="divider card-divider"></div>
                <ul class="contact-list">
                    <li>
                        <a th:href="${'mailto:'+usuario.getEmail()}" class="contact-link icon-box">
                            <span class="material-symbols-rounded  icon">mail</span>

                            <p th:text="${usuario.getEmail()}" class="text">fernandondin@ciencias.unam.mx</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card-wrapper">

                <div class="card task-card" data-aos="fade-left">

                    <div class="card-icon icon-box blue">
                        <span class="material-symbols-rounded  icon">person</span>
                    </div>

                    <div>
                        <data th:text="${idcompetidor}" class="card-data" value="21">15</data>

                        <p class="card-text">Número del competidor</p>
                    </div>

                </div>

                <div class="card task-card" data-aos="fade-left" data-aos-duration="1000">

                    <div class="card-icon icon-box blue">
                        <span class="material-symbols-rounded  icon">sports_gymnastics</span>
                    </div>

                    <div>
                        <data th:text="${nDisciplinas}" class="card-data" value="21">9</data>

                        <p class="card-text">Eventos inscritos para competir</p>
                    </div>

                </div>
            </div>
        </section>
    </article>
</main>

<footer th:replace="plantillas/plantilla.html :: footer">
</footer>

<script th:replace="plantillas/plantilla.html :: js">
</script>
<script>
    document.getElementsByClassName("navbar-link")[0].classList.add("active");
    if(tipoUsuario.innerHTML === "COMPETIDOR"){
    document.getElementById("tabla-nav").href="/competidor/tabla";
    document.getElementById("tabla-menu").href="/competidor/tabla";
    document.getElementById("calificaciones-nav").href="/competidor/calificaciones";

    document.getElementById("calificaciones-menu").href="/competidor/calificaciones";
    document.getElementById("inicio-nav").href="/competidor/";
    document.getElementById("logo-1").href="/competidor/";
    document.getElementById("logo-2").href="/competidor/";
    }
</script>
</body>
</html>
