<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>
<header th:replace="plantillas/plantilla.html :: header">
</header>

<main>
    <article class="container article">

        <h2 class="h2 article-title" th:text="${'Hola '+usuario.getNombre()+' '+usuario.getApellido_P() + ' ' + usuario.getApellido_M()}"></h2>

        <p class="article-subtitle">¡Bienvenido al Sistema Univeritario de Olimpiadas!</p>

        <section class="home">

            <div class="card profile-card" data-aos="fade-right" data-aos-duration="700">

                <div class="profile-card-wrapper">

                    <figure class="card-avatar">
                        <img src="/img/avatar-1.png" alt="Elizabeth Foster" width="48" height="48">
                    </figure>

                    <div>
                        <p th:text="${'Hola '+usuario.getNombre()+' '+usuario.getApellido_P() + ' ' + usuario.getApellido_M()}" class="card-title">Fernando Gerardo Flores García</p>

                        <p th:text="${usuario.getRol()}"class="card-subtitle">Entrenador</p>
                    </div>

                </div>
                <div class="divider card-divider"></div>
                <ul class="contact-list">
                    <li>
                        <a th:href="${'mailto:'+usuario.getEmail()}" class="contact-link icon-box">
                            <span class="material-symbols-rounded  icon">mail</span>

                            <p th:text="${usuario.getEmail()}" class="text">fernandondin@ciencias.unam.mx</p>
                        </a>
                    </li>

                    <li>
                        <a href="tel:5613446352" class="contact-link icon-box">
                            <span class="material-symbols-rounded  icon">call</span>
                            <p class="text">5613446352</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card-wrapper">

                <div class="card task-card" data-aos="fade-left">

                    <div class="card-icon icon-box blue">
                        <span class="material-symbols-rounded  icon">person</span>
                    </div>

                    <div>
                        <data th:text="${usuarios.size()+''}" class="card-data" value="21">21</data>

                        <p class="card-text">Usuarios Registrados</p>
                    </div>

                </div>

                <div class="card task-card" data-aos="fade-left" data-aos-duration="1000">

                    <div class="card-icon icon-box blue">
                        <span class="material-symbols-rounded  icon">sports_gymnastics</span>
                    </div>

                    <div>
                        <data th:text="${disciplinas.size()}" class="card-data" value="21">21</data>

                        <p class="card-text">Disciplinas totales</p>
                    </div>

                </div>
            </div>
        </section>

        <section class="tabla">
            <!--       EMPIEZA TABLA ---------->
            <div class="card" data-aos="fade-right" data-aos-duration="700">
                <table class="table">
                    <thead>
                    <tr class="tabla-t">
                        <th>#Competidor</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usr : ${usuarios}">
                        <td data-aos="zoom-in-right" data-aos-duration="4000" th:text="${usr.getUsuario_Id()}" data-title="#Competidor" >01</td>
                        <td data-aos="zoom-in-left" data-aos-duration="4000" th:text= "${usr.getNombre()+' '+usr.getApellido_P() + ' ' + usr.getApellido_M()}" data-title="Nombre">Fernando Flores</td>
                        <td data-aos="zoom-in-right" data-aos-duration="4000"th:text="${usr.getEmail()}" data-title="Correo">fernandondin@ciencias.unam.mx</td>
                        <td data-aos="zoom-in-left" data-aos-duration="4000" data-title="Rol">
                            <p th:text="${usr.getRol().toLowerCase()}" class ="rol-usuario">Admin</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


    </article>
</main>
<!--
<div class="lado">
    <ul>
        <li><a href="/inicioAdmin"><span class="perfil"><i class="icon icon-home"></i></span>Perfil</a></li>
        <li><a href="#"><span class="registrar"><i class="icon icon-home"></i></span>Registrar Disciplina</a></li>

        <li><a href="#Jueces"><span class="registrar"><i class="icon icon-home"></i></span>Registrar Jueces</a></li>

        <li><a href="/buscarDisciplinas"><span class="buscar"><i class="icon icon-home"></i></span>Buscar Disciplinas</a></li>

        <li><a href="/registrarDisciplinas/buscarJueces"><span class="buscar"><i class="icon icon-home"></i></span>Buscar Jueces</a></li>
    </ul>
</div>
<div class="container">
    <div class="title">Registrar disciplina</div>


    <form method="post" action="/admins/creaDisciplina">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Disciplina</span>
                <input type="text" name="disciplina" placeholder="Introduce la disciplina" required="">
            </div>
            <div class="input-box">
                <span class="details">Categoría</span>
                <input type="text" name="categoria" placeholder="Introduce la categoría" required="">
            </div>



            <div class="input-box">
                <span class="details">Fecha del evento</span>
                <input type="date" name="fecha" placeholder="Introduce la fecha del evento" required="">
            </div>

            <div class="input-box">
                <span class="details">Nombre</span>
                <input type="text" name="nombre" placeholder="Introduce el nombre del evento" required="">
            </div>
        </div>
        <div class="sexo-detalles">


            <span class="sexo-titulo">Rama</span>
            <div class="category">
                <label for="dot-1">
                    <input type="radio" value="Masculino" name="rama" id="dot-1" required="">
                    <span class="">
                        <span class="">Masculino</span>
                    </span>
                </label>
                <label for="dot-2">
                    <input type="radio" value="Femenil" name="rama" id="dot-2" required="">
                    <span class="dot two">
                        <span class="sexo">Femenil</span>
                    </span>
                </label>

                <label for="dot-3">
                    <input type="radio" value="Mixto" name="rama" id="dot-3" required="">
                    <span class="dot two">
                        <span class="sexo">Mixto</span>
                    </span>
                </label>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Registrar">

        </div>
    </form>
</div>
-->

<footer th:replace="plantillas/plantilla.html :: footer">
</footer>
<script th:replace="plantillas/plantilla.html :: js">

</script>
</body></html>