<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>
<header th:replace="plantillas/plantilla.html :: header">
</header>
<div id="bg-img" class="full-img-bg">

</div>
<div id="img-container" class="full">
    <img class="img" id="img-max" th:src="@{${'/img/'+usuario.getImagen()}}" alt="">
</div>
<main>
    <article class="container article">

        <h2 data-aos="zoom-out" data-aos-duration="900" class="h2 article-title" th:text="${'Hola '+usuario.getNombre()+' '+usuario.getApellido_P() + ' ' + usuario.getApellido_M()}"></h2>

        <p data-aos="fade-right" data-aos-duration="800" class="article-subtitle">¡Bienvenido al Sistema Univeritario de Olimpiadas!</p>

        <section class="home">

            <div class="card profile-card" data-aos="fade-right" data-aos-duration="700">

                <div class="profile-card-wrapper">

                    <figure class="card-avatar">
                        <img id="img-min" th:src="@{${'/img/'+usuario.getImagen()}}" alt="" width="48" height="48">
                    </figure>

                    <div>
                        <p th:text="${usuario.getNombre()+' '+usuario.getApellido_P() + ' ' + usuario.getApellido_M()}" class="card-title">Fernando Gerardo Flores García</p>

                        <p th:text="${usuario.getRol()}" class="card-subtitle">Entrenador</p>
                    </div>

                </div>
                <div class="divider card-divider"></div>
                <ul class="contact-list">
                    <li>
                        <a th:href="${'mailto:'+usuario.getEmail()}" class="contact-link icon-box">
                            <span class="material-symbols-rounded  icon">mail</span>

                            <p th:text="${usuario.getEmail()}" class="text">fernandondin@ciencias.unam.mx</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card-wrapper">

                <div class="card task-card" data-aos="fade-left">

                    <div class="card-icon icon-box blue">
                        <span class="material-symbols-rounded  icon">person</span>
                    </div>

                    <div>
                        <data th:text="${usuarios.size()+''}" class="card-data" value="21">21</data>

                        <p class="card-text">Usuarios Registrados</p>
                    </div>

                </div>

                <div class="card task-card" data-aos="fade-left" data-aos-duration="1000">

                    <div class="card-icon icon-box blue">
                        <span class="material-symbols-rounded  icon">sports_gymnastics</span>
                    </div>

                    <div>
                        <data th:text="${disciplinas.size()}" class="card-data" value="21">21</data>

                        <p class="card-text">Disciplinas totales</p>
                    </div>

                </div>
            </div>
        </section>
        <!--       EMPIEZA TABLA ---------->
        <section class="tabla">
            <div class="card" data-aos="zoom-out" data-aos-duration="1200">
                <table class="table">
                    <thead>
                    <tr class="tabla-t">
                        <th>#Competidor</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usr : ${usuarios}">
                        <td data-aos="zoom-in-right" data-aos-duration="4000" th:text="${usr.getUsuario_Id()}" data-title="#Competidor" >01</td>
                        <td data-aos="zoom-in-left" data-aos-duration="4000" th:text= "${usr.getNombre()+' '+usr.getApellido_P() + ' ' + usr.getApellido_M()}" data-title="Nombre">Fernando Flores</td>
                        <td data-aos="zoom-in-right" data-aos-duration="4000" th:text="${usr.getEmail()}" data-title="Correo">fernandondin@ciencias.unam.mx</td>
                        <td data-aos="zoom-in-left" data-aos-duration="4000" data-title="Rol">
                            <p th:text="${usr.getRol().toLowerCase()}" class ="rol-usuario">Admin</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--       TERMINA TABLA ---------->
            <!--       EMPIEZA TABLA ---------->
            <section class="tabla">
                <div class="card" data-aos="zoom-out" data-aos-duration="1200">
                    <table class="table">
                        <thead>
                        <tr class="tabla-t">
                            <th>#Id disciplina</th>
                            <th>Nombre disciplina</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dis : ${disciplinas}">
                            <td data-aos="zoom-in-right" data-aos-duration="4000" th:text="${dis.getDisciplina_Id()}" data-title="#Id disciplina" >01</td>
                            <td data-aos="zoom-in-left" data-aos-duration="4000" th:text= "${dis.getNombre()}" data-title="Nombre disciplina">Fernando Flores</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
                <!--       TERMINA TABLA ---------->
    </article>
</main>
<footer th:replace="plantillas/plantilla.html :: footer">
</footer>
<script th:replace="plantillas/plantilla.html :: js">
</script>

<script>
    fullImg();
    document.getElementsByClassName("navbar-link")[0].classList.add("active");
</script>
</body></html>