<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>
<header th:replace="plantillas/plantilla.html :: header">
</header>

<main>
    <article class="container article">
        <!-- Contenedores form -->
        <section class="form">
            <div class="form-container " data-aos="zoom-out" data-aos-duration="900">
                <div class="form-wrapper">

                    <!-- INICIA FORM  -->
                    <div class="cont">
                        <div class="title">Registrar Competidor</div>
                        <div class="content">
                            <form method="post" action="/entrenador/registra" >
                                <div class="user-details">
                                    <div class="input-box" >
                                        <span  class="details">Nombre</span>
                                        <input name="nombre" type="text" placeholder="Introduce el nombre." required>
                                    </div>
                                    <div class="input-box">
                                        <span  class="details">Apellido Paterno</span>
                                        <input name="apellido_p" type="text" placeholder="Introduce el apellido paterno." required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Apellido Materno</span>
                                        <input name="apellido_m" type="text" placeholder="Introduce el apellido materno" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Contraseña</span>
                                        <input name="password" id="contraseña" type="password" placeholder="Introduce la contraseña" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Correo</span>
                                        <input name="email" type="email" placeholder="Introduce el correo" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Confirma</span>
                                        <input id="confirma-contraseña" type="password" placeholder="Confirma la contraseña" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Altura</span>
                                        <input name="peso" type="number" placeholder="Ingresa peso en kg" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Peso</span>
                                        <input name="altura" type="number" placeholder="Ingresa peso en cm" required>
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Fecha de nacimiento</span>
                                        <input name="fecha" type="date" placeholder="introduce fecha de nacimiento" required>
                                    </div>
                                </div>
                                <div class="gender-details">
                                    <input type="radio" name="sexo" value="Masculino" id="dot-1">
                                    <input type="radio" name="sexo" value="Femenino" id="dot-2">
                                    <span class="gender-title">Sexo</span>
                                    <div class="category">
                                        <label for="dot-1">
                                            <span class="dot one"></span>
                                            <span class="gender">Masculino</span>
                                        </label>
                                        <label for="dot-2">
                                            <span class="dot two"></span>
                                            <span class="gender">Femenino</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- TERMINA FORMS  -->

                </div>
            </div>

        </section>


    </article>
</main>
<div class="divider card-divider"></div>
<div id="error" th:if="${error}" class="alerta" style="display:none;" role="alert">
</div>
<div id="exito" th:if="${exito}" class="alerta" style="display:none;" role="alert">
</div>
<footer th:replace="plantillas/plantilla.html :: footer">
</footer>
<script th:replace="plantillas/plantilla.html :: js">
</script>
<script>
   document.getElementsByClassName("navbar-link")[1].classList.add("active");
   var error = document.getElementById('error');
   var exito = document.getElementById('exito');
    if(error!=null){
        Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Este correo ya esta registrado',
              confirmButtonColor: '#002b7a'
            })
    }
    if(exito != null){
        Swal.fire({
              icon: 'success',
              title: 'Agregado correctamente',
              confirmButtonColor: '#002b7a'
            })
    }
   var contra = document.getElementById("contraseña");
   var confirmaContra = document.getElementById("confirma-contraseña");
    function validaContra(){
      if(contra.value != confirmaContra.value) {
        confirmaContra.setCustomValidity("Las contraseñas no coinciden");
      } else {
        confirmaContra.setCustomValidity('');
      }
    }
    contra.onchange = validaContra;
    confirmaContra.onkeyup = validaContra;
 </script>
</body></html>