<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla.html :: head">
</head>
<body>
<header th:replace="plantillas/plantilla.html :: header">
</header>

<main>

    <article class="container article">
        <div data-aos="fade-right" data-aos-duration="1300" class="select">
            <select id="sel" name="select">
                <option value="juez">100 mts planos</option>
                <option value="disciplina">Salto de longitud</option>
            </select>
        </div>

        <div class="divider card-divider"></div>

        <div class="primeros" data-aos="fade-left" data-aos-duration="1000">

            <div class="card task-card" data-aos="fade-left" data-aos-duration="200">

                <div class="card-icon icon-box silver" >
                    <span class="material-symbols-rounded  icon">workspace_premium</span>
                </div>

                <div>
                    <data class="card-data">#2</data>
                </div>
                <div>
                    <p class="card-text" style="color:#3c4646;">Gonzalo Medina Juarez</p>
                </div>

            </div>

            <div class="card task-card" data-aos="fade-left" data-aos-duration="1000">

                <div class="card-icon icon-box gold">
                    <span class="material-symbols-rounded  icon">workspace_premium</span>
                </div>

                <div>
                    <data class="card-data">#1</data>
                </div>
                <div>
                    <p class="card-text" style="color:#926f34;" >Mariano Nuñez Díaz</p>
                </div>
            </div>

            <div class="card task-card" data-aos="fade-left" data-aos-duration="1500">

                <div class="card-icon icon-box bronze">
                    <span class="material-symbols-rounded  icon">workspace_premium</span>
                </div>

                <div>
                    <data class="card-data">#3</data>
                </div>
                <div>
                    <p class="card-text" style="color:#7f6534;">Pablo Dominguez Sandoval</p>
                </div>

            </div>

        </div>

        <!--Tabla inicia-->
        <div class="tabla-posiciones" data-aos="fade-right" data-aos-duration="1000">
            <table class="table">
                <thead>
                <tr class="tabla-t">
                    <th>#Posicion</th>
                    <th>Nombre</th>
                    <th>Evento</th>
                    <th>Calificación</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-title="#Posicion">01</td>
                    <td data-title="Nombre">Mariano Nuñez Díaz</td>
                    <td data-title="Evento">100 mts planos</td>
                    <td data-title="Calificacion">9.5</td>
                </tr>
                <tr>
                    <td data-title="#Posicion">02</td>
                    <td data-title="Nombre">Gonzalo Medina Juarez</td>
                    <td data-title="Evento">100 mts planos</td>
                    <td data-title="Calificacion">9.2</td>
                </tr>
                <tr>
                    <td data-title="#Posicion">03</td>
                    <td data-title="Nombre">Pablo Dominguez Sandoval</td>
                    <td data-title="Evento">100 mts planos</td>
                    <td data-title="Calificacion">9.1</td>
                </tr>
                <tr>
                    <td data-title="#Posicion">04</td>
                    <td data-title="Nombre">Mariano Nuñez Díaz</td>
                    <td data-title="Evento">100 mts planos</td>
                    <td data-title="Calificacion">9.5</td>
                </tr>
                <tr>
                    <td data-title="#Posicion">05</td>
                    <td data-title="Nombre">Mariano Nuñez Díaz</td>
                    <td data-title="Evento">100 mts planos</td>
                    <td data-title="Calificacion">9.5</td>
                </tr>
                </tbody>
            </table>
        </div>

    </article>
</main>


<footer th:replace="plantillas/plantilla.html :: footer">
</footer>
<script th:replace="plantillas/plantilla.html :: js">
</script>
<script>
  document.getElementsByClassName("navbar-link")[3].classList.add("active");
</script>
</body>
</html>